<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">About</a></li>
            <li><a href="{{ url_for('projects') }}">Projects</a></li>
            <li><a href="{{ url_for('vitae') }}">Vitae</a></li>
            <li><a href="{{ url_for('walkabout') }}">Walkabout</a></li>
        </ul>
    </nav>
    {% block body %}{% endblock %}
</body>
</html>