{% extends 'base.html' %}

{% block head %}
<title>Vitae | Zakk Loveall</title>
{% endblock %}

{% block body %}
<div class="vitae-container">
    <div class="vitae-header">
        <h1>Education and Experience</h1>
        <p>Everything professional about me.</p>
    </div>

    <div class="vitae-list">
        <div class="vitae-section">
            <h2>Education</h2>
            <ul>
                <li>
                    <strong>B.S. Computer Science, Minor in Statistics</strong>  
                    <br>University of Wyoming
                    <br><em>Aug. 2020 - May 2024</em>
                </li>
                <li>
                    <strong>M.S. in Analytics (Data Science Track)</strong>  
                    <br>Georgia Institute of Technology
                    <br><em>Aug. 2024 - Expected May 2026</em>
                </li>
            </ul>
        </div>

        <div class="vitae-section">
            <h2>Work Experience</h2>
            <div class="vitae-item">
                <h3>Information Specialist Intern</h3>
                <p><strong>University of Wyoming, Laramie, WY</strong> (Dec. 2024 - Present)</p>
                <ul>
                    <li>Optimized and developed SQL queries to extract and analyze student financial data from an Oracle database, enhancing 
                        analysis efficiency by 5%.</li>
                    <li>Developed Python web scrapers to automate the detection and updating of outdated links on the university’s websites, 
                        improving accuracy and user experience.</li>
                    <li>Maintained and modified HTML and web content to ensure compliance with updated student financial aid policies resulting 
                        in improved policy adherence and reduced compliance issues.</li>
                    <li>Automated repetitive data entry tasks using Excel VBA macros, increasing efficiency and reducing manual workload.</li>
                </ul>
            </div>
            <div class="vitae-item">
                <h3>Peer Mentor Analyst</h3>
                <p><strong>University of Wyoming, Laramie, WY</strong> (Dec. 2022 - Aug. 2024)</p>
                <ul>
                    <li>Cleaned and analyzed student datasets (>10,000 records) using Python, R, Excel, and Qualtrics to identify key retention factors.</li>
                    <li>Discovered correlations between student demographics and retention rates, contributing to a ~10% increase in student retention.</li>
                    <li>Advised a faculty board on redesigning the mandatory first-year course by leveraging data insights, leading to a 2% improvement in student success rates.</li>
                    <li>Presented research findings to 500+ incoming CS students, shaping their academic success strategies.</li>
                </ul>
            </div>
            <div class="vitae-item">
                <h3>Teaching Assistant</h3>
                <p><strong>University of Wyoming, Laramie, WY</strong> (Jul. 2022 - Aug. 2024)</p>
                <ul>
                    <li>Managed and taught four lab sections per semester for Computer Science 1010, instructing over 90 students on writing efficient, clean, and well-structured Python code.</li>
                    <li>Conducted weekly office hours, engaging with over 50 students each session to address programming challenges and enhance coding proficiency in Python, resulting in a significant improvement in lab performance scores.</li>
                    <li>Engineered Python scripts to automate test case generation for student code assessments resulting in improved grading efficiency.</li>
                </ul>
            </div>
            <div class="vitae-item">
                <h3>Research Assistant</h3>
                <p><strong>University of Wyoming, Laramie, WY</strong> (Jun. 2023 - Jan. 2024)</p>
                <ul>
                    <li>Designed and built VEX robots for experimentation, programming them in Python and C++ with custom movement behaviors and to perform tasks such as object retrieval and precise delivery.</li>
                    <li>Experimented with using Convolutional Neural Networks and Q-learning to better optimize movement behavior in robots through image processing. </li>
                    <li>Collaborated with graduate students to establish and lead a robotics club, focusing on designing and building robots to tackle real-world challenges.</li>
                </ul>
            </div>
            <div class="vitae-item">
                <h3>Assistant Center Director</h3>
                <p><strong>University of Wyoming, Laramie, WY</strong> (May 2021 - Dec. 2021)</p>
                <ul>
                    <li>Developed a C# and Visual Basic curriculum showcasing real-world problem-solving through coding, enhancing students' understanding of practical applications.</li>
                    <li>Created interactive lesson plans for 50 students using JavaScript and Scratch, simplifying abstract coding concepts and increasing engagement.</li>
                </ul>
            </div>
        </div>
        <div class="vitae-section">
            <h2>Coursework</h2>
            <h3>Undergraduate</h3>
            <ul>
                <li>Machine Learning, Artificial Intelligence, Operating Systems, Database Systems, Side Channel Analysis, Data Wrangling in R, Regression, Sampling Methods</li>
            </ul>
            <h3>Graduate</h3>
            <ul>
                <li>Analytics Modeling, Computing for Analytics, Business Fundamentals, Database Management Systems</li>
            </ul>
        </div>
        <div class="vitae-section">
            <h2>Technical Skills</h2>
            <h3>Languages</h3>
            <ul>
                <li>Python (NumPy, Pandas, Scikit, Keras), R, SQL (SQLite, PostgreSQL), Java, C++, JavaScript, Visual Basic, C#, Lua</li>
            </ul>
            <h3>Tools</h3>
            <ul>
                <li>Git, Office, Photoshop, Excel, Unix, Unity, Tableau, DBeaver, Visual Studio, IntelliJ, Pycharm</li>
            </ul>
        </div>  
    </div>
</div>
{% endblock %}
